i* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(37, 37, 37);
}
.banner-image {
    background: linear-gradient(to top,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.815)),
     url("./assets/IN-en-20240429-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 730px;
    /* opacity: 0.69; */
    display: flex;
    flex-direction: column;
    align-items:center ;
}

.banner-image>#navbar {
    width: 75%;
    height: 60px;
    /* background-color: black; */
    margin-top: 20px;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;

}
.banner-image>#navbar>span{
    margin-top: 7px;
    height: 100%;
    /* background-color: white; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-image>#navbar>div>#btneng{
    width: 120px;
    height: 30px;
    margin-top: 10px;
    color: white; 
    border: 0px solid rgb(231, 220, 220);
    border-radius: 5px;
    background-color: black;
}
.banner-image>#navbar>div>#btneng>select{
    width: 135px;
    height: 30px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid rgb(138, 135, 135);
    border-radius: 5px;
    background-color: #131313;
}
banner-image>#navbar>div>#btneng:hover{
    border: 20px solid rgb(179, 166, 166);
    cursor: pointer;
    
}
.banner-image>#navbar>div>#btneng>select>option{
    background-color: white;
    color: #131313;
}


.banner-image>#navbar>div>#login{
    width: 80px;
    height: 30px;
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin-left: 30PX;
}
.banner-image>#navbar>div>#login:hover{
    background-color: rgb(211, 6, 6);
    border: 1px solid  rgb(211, 6, 6);

}
.banner-image>#content{
    width: 900px;
    height: 400px;
    /* background-color: rgb(209, 203, 203);    */
}

.banner-image>#content>h1{
    text-align: center;
    font-family: Arial black, sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 43px;
    margin-top: 200px;
}
.banner-image>#content>p{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 28px;
}
.banner-image>#content>h3{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.banner-image>#content>input{
    width: 350px;
    height: 55px;
    margin-top: 25px;
    margin-left: 170px;
    opacity: 0.44;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    padding-left: 20px;
}
::placeholder{
    color:white;
    font-size: 15px;
    font-weight: 10px;
}
.banner-image>#content>input:hover{
    width: 350px;
    height: 60px;
    border: 3px solid rgb(247, 245, 245);
    border-radius: 5px;
    color:white;
    font-size: 20px;
}

.banner-image>#content>button{
    width: 200px;
    height: 52px;
    margin-top: 25px;
    margin-left: 10px;
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    font-size: 23px;
    font-weight: 500;
    color: white;
}

.banner-image>#content>button:hover{
    width: 200px;
    height: 52px;
    background-color: rgb(211, 6, 6);
    border: 1px solid red;
    border-radius: 5px;
    font-size: 23px;
    color: white;
}
/* ******************************************banner-2****************************** */

.banner-2{
    width: 100%;
    height: 500px;
    background-color: black;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.banner-2>#text{
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(5, 5, 5);
}
.banner-2>#text>h1{
    color: white;
    text-align: center;
    font-family: Arial black, Helvetica, sans-serif;
    font-size: 42px;
}
.banner-2>#text>p{
    color:white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem ;
    margin-top: 20px;
    padding-left: 95px;
}
.banner-2>#scrimg{
    width: 39%;
    height: 100%;
    /* background-color: aqua;  */
     background: video;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
}
.banner-2>#scrimg>img{
    width: 100%;
    height: 75%;
    
}
/* .banner-2>#scrimg>.vid{
    width: 950px;
    height: 200px;
    margin-bottom:10px;
    margin-left: 78px;
    
} */
.banner-2>#scrimg>video{
    width: 39%;
    height: 100%;
    position: absolute;
    z-index:-1;
    /*background-color: blue; */
}

  /* .banner-2>#secimg>img {
    width: 30vw;
    z-index: 10;
  }
  
  .banner-2>#secimg> video {
    position: absolute;
    top: 81px;
    right: 21px;
  }
    */
/* ******************************************banner-3 work****************** */
.banner-3{
    width: 100%;
    height: 500px;
    background-color: black;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.banner-3>#img{
    width: 49%;
    height: 100%;
    /* background-color: aqua; */
    color: white;
    float: left;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.banner-3>#img>img{
    width: 500px;
    height: 400px;
    position: absolute;
    margin-left: 10rem;
}
.banner-3>#img>.box{
    width: 20%;
    height: 100px;
    background-color: black;
    position: absolute;
    margin-top: 15rem;
    margin-left: 10rem;
    border: 2px solid rgb(94, 88, 88);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box>.b-img{
    width: 23%;
    height: 90%;
    background-color: green;
    margin-left: 7px;
    background-image: url("./assets/boxshot.png");
    background-size: cover;
}
.box>.b-text{
    width: 45%;
    height: 100%;
    /* background-color: rgb(121, 175, 121); */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center

}
.box>.b-text>h1{
    font-size: 16px;
    font-weight: 500;

}
.box>.b-text>p{
    font-size: 14px;
    padding-right: 20px;
    line-height: 1px;
    color:#0071EB;
}
.box>.b-download{
    width: 25%;
    height: 100%;
    /* background-color: rgb(46, 70, 46); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.box>.b-download>div{
  width: 50px;
  height: 50px;
  background-color: #0071EB;
  background-image: url("./assets/download-icon.gif");
  background-size: cover;
}

.banner-3>#text{
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-3>#text>h1{
    color: white;
    /* text-align: center; */
    margin-top:150px;
    font-family: Arial black, Helvetica, sans-serif;
    font-size: 45px;
    padding-left: 50px;
}
.banner-3>#text>p{
    color:white;
    font-size: 25px;
    font-weight:500;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}
/* ****************************banner-4 work****************** */

.banner-4{
    width: 100%;
    height: 500px;
    background-color: black;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.banner-4>#text{
    width: 50%;
    height: 100%;
    line-height: 30px;
    /* background-color: aqua; */

}
.banner-4>#text>h1{
    color: white;
    text-align: center;
    margin-top:150px;
    padding-left: 110px;
    font-family: Arial black, Helvetica, sans-serif;
    font-size: 45px;
}
.banner-4>#text>p{
    color:white;
    margin-top: 20px;
    padding-left: 160px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.banner-4>#img{
    width: 49%;
    height: 100%;
    /* background-color: aqua; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-4>#img>.vid{
    display: flex;
    align-items: center;
}
.banner-4>#img>.vid>video{
    width:250px;
    height: 100%;
    position: absolute;
    z-index: 0;
    margin-left: 100px;
    margin-bottom: 100px;
}
.banner-4>#img>img{
    width: 75%;
    height: 70%;
}
/* ***************************************************** */
.banner-5{
    width: 100%;
    height: 500px;
    background-color: black;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}


.banner-5>#text{
    width: 50%;
    height: 100%;
    /* background-color: aqua; */

}
.banner-5>#text>h1{
    color: white;
    /* text-align: center; */
    margin-top:150px;
    font-family: Arial black, Helvetica, sans-serif;
    font-size: 50px;
}
.banner-5>#text>p{
    color:white;
    margin-top: 20px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.banner-5>#img{
    width: 49%;
    height: 100%;
    /* background-color: rgb(83, 94, 94); */
    color: white;  
    display: flex;
    justify-content: end;
    align-items: center; 
}
.banner-5>#img>img{
    width: 70%;
    height: 80%;
}
 /* ********************************************** */
.banner-6{
    width: 100%;
    height: 800px;
    background-color: black;
    /* margin-top: 5px; */
}
.banner-6>.headline{
    width: 100%;
    height: 80px;
    /* background-color: aqua; */
     margin-top: 5px;
    color: white;
    text-align: center;
    font-family: Arial black, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bolder;   
}

.banner-6>.qusbox{
    width: 100%;
    height: 500pX;
    /* background-color: rgb(148, 20, 20); */
    justify-content: center;

}

.banner-6>.qusbox>ul>li>button{
    width: 60rem;
    height: 75px;
    background-color: rgb(74, 78, 78);
    margin-top: 7px;
    margin-left: 12rem;
    text-align: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-left: 20px;
}

.banner-6>.qusbox>ul>li>button:hover{
    background-color: rgb(117, 113, 113);
}

.banner-6>#content>h3{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.banner-6>#content>input{
    width: 350px;
    height: 60px;
    margin-top: 25px;
    margin-left: 25rem;
    opacity: 0.44;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
}

.banner-6>#content>button{
    width: 200px;
    height: 50px;
    margin-top: 25px;
    margin-left: 10px;
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    font-size: 25px;
    color: white;
}
/* ************************************************************************************************************* */
.footer{
    width: 100%;
    height: 400px;
    background-color: black;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: end;
  
}

.footer>.f1{
    width: 25%;
    height: 100%;
    /* background-color: blue; */
    color: white;
    margin-top: 50px;
    margin-left: 150px;
    padding-top: 20px;
}
.footer>.f1>p{
    display: flex;
    margin-top: 20px;
    font-size: 16px;
    color: rgb(202, 194, 194);
    font-family: Arial, Helvetica, sans-serif;
    
}
.footer>.f1>p>a{
    color: rgb(202, 194, 194);
    font-size: 13px;
  
}
.footer>.f1>button{
    width: 150px;
    height: 30px;
    margin-top: 16px;
    color: white; 
    border: 0px solid rgb(231, 220, 220);
    border-radius: 5px;
    background-color: black;
}
.footer>.f1>button>select{
    width: 150px;
    height: 30px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid rgb(179, 166, 166);
    border-radius: 5px;
    background-color: black;
}


.footer>.f2{
    width: 25%;
    height: 100%;
    /* background-color: rgb(187, 255, 0); */
    color: white;
    padding-top: 120px;
}
.footer>.f2>p>a{
    color: rgb(150, 146, 146);
}
.footer>.f2>p{
    display: flex;
    margin-top: 20px;
    font-size: 14px;
    color: rgb(202, 194, 194);
    font-family: Arial, Helvetica, sans-serif;
    
}
.footer>.f3{
    width: 25%;
    height: 100%;
    /* background-color: rgb(101, 101, 170); */
    color: white;
    padding-top: 120px;
}
.footer>.f3>p{
    display: flex;
    margin-top: 20px;
    font-size: 14px;
    color: rgb(202, 194, 194);
    font-family: Arial, Helvetica, sans-serif;
    
}
.footer>.f3>p>a{
    color: rgb(150, 146, 146);
}
.footer>.f4{
    width: 25%;
    height: 100%;
    /* background-color: rgb(0, 81, 255); */
    color: white;
    padding-top: 120px;
    padding-right: 100px;
}

.footer>.f4>p{
    display: flex;
    margin-top: 20px;
    font-size: 14px;
    color: rgb(202, 194, 194);
    font-family: Arial, Helvetica, sans-serif;
    
}
.footer>.f4>p>a{
    color: rgb(150, 146, 146);
}


